.add{
    background-color: hsl(190, 64%, 22%);
    width: 100px;
    color: white;
    border-radius: 1rem;
    padding: .5rem .25rem;
}

.update{
    background-color: rgb(199, 227, 18);
    width: 100px;
    color: white;
    border-radius: 1rem;
    padding: .25rem .15rem;
}

.delete{
    background-color: rgb(245, 5, 5);
    width: 100px;
    color: white;
    border-radius: 1rem;
    padding: .25rem .15rem;
}

