/* Input */
.formInput{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
 
}
.form-label{
    padding: 0 1rem;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    z-index: 100;
    left: 1rem;
    top: -.5rem;
    text-align: left;
}

.input-group{
    position: relative;
    margin: auto 0;
}
.form__input{
    width: 300px;
    /* background-color: rgba(203, 201, 201,.9); */
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border:1px solid seagreen;
    border-radius: 1rem;
}


.invalid-feedback,.select-input-invalid-feedback{
    position: absolute;
    color:red;
    font-size: 12px;
}

/* Select */
/* .dropdown{
    background-color: rgba(203, 201, 201,.9);
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    outline: none;
} */

.datalist{
    background-color: aqua;
    height: 100px;
    width: 300px;
}

.filterText{
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 10000;
}

.dropdown-menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 5px;
}
